*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.card{
    width: 250px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 15px;
    background-color: #a4c6e9;
    border:1px solid rgb(36, 87, 87)
}
.card img{
    height: 30%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card h2{
    font-size: 1.4rem;
    font-weight: bold;
}
.card p{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding:5px;
}
.card .button{
    height: 10%;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(7, 7, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
.button p{
    font-size: 0.6rem;
}
.card .cancel{
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancel a{
    color: rgb(2, 2, 2);
    font-size: 0.7rem;
    font-weight: bold;
    text-decoration-line: none;
}
.amountBox{
    height: 10%;
    width: 80%;
    border:1px solid black;
    border-radius: 5px;;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    padding:2px;
}
.leftBox{
    display: flex;
}
.amountBox .leftBox .left img{
    height: 30px;
    width: 40px;
}
.amountBox .leftBox .right p{
    font-size: 0.7rem;
    font-weight: bold;
    padding:0;
}
.amountBox .rightBox a{
    display: flex;
    align-items: center;
    margin-top:10px;
    font-size: 0.7rem;
    color:black
}
.amountBox .rightBox a:hover{
    color:rgb(202, 21, 21)
}
