*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 250px;
    width: 350px;
    background-color: white;
    text-align: center;
    /* box-shadow: inherit; */
    padding:10px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
#input{
    height: 45px;
    width: 100%;
    margin:8px 0;
    border:3px solid rgb(4, 63, 4);
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;;
}
#submit{
    height: 35px;
    width: 100%;
    margin:8px 0;
    background-color: rgb(6, 75, 6);
    color:white;
    border:none;
    font-size: 1rem;
    border-radius: 7px;
}
.scoreField{
    display: flex;
    justify-content: end;
    margin:10px;
}
#heading{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}
#newGame{
    height: 35px;
    width: 100%;
    margin:8px 0;
    background-color: rgb(174, 49, 190);
    color:rgb(7, 26, 44);
    border:none;
    font-size: 1rem;
    border-radius: 7px;
    font-weight: 500;
}
.scoreField h3{
    color:rgb(8, 99, 28);
}
#score{
    color:rgb(6, 82, 22);
}