*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border:4px solid black;
    border-radius: 5px;
    text-align: center;
    padding:35px 5px;
}
.name{
    color:azure;
}