*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    gap:20px;
    padding:20px;
}
.box{
    height: 150px;
    width: 250px;
    border:1px solid rgb(57, 177, 93);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: relative;
}
.icon{
   position: absolute;
   top:-20%;
}
.counter{
    font-size: 1.6rem;
    font-weight: 800;
    color:rgb(17, 77, 17);
}
h4{
    font-size: 1.2rem;
    font-weight: 800;
}
