*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 40%;
    margin:10px auto;
    padding: 20px 10px;
    background-color: pink;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    gap:15px;
    border-radius: 8px;
}
.display{
    width: 100%;
    height: 40px;
    border:1px solid black;
    border-radius: 5px;
    position: relative;
    background-color: pink;
}
.generate{
    width: 80px;
    padding:10px;
    background-color: black;
    color:white;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition: all 0.2s;
}
.generate:hover{
    background-color: green;
    transform: scale(0.95);
}
.fa-copy{
    position: absolute;
    left:92%;
    top:20%;
    color:rgb(105, 103, 103);
    cursor: pointer;
}
.alert{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    right: -300px; 
    bottom:20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.active.alert{
    right:20px;
}